html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
}

.card-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}